@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

@layer utilities {
  .glass-nav {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .glow-button {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
  }
  .bg-hero {
    background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDNGJTI1H6657KkLj96CnFtpexkpntsID5cEihZZPh74E2Cb92Yp6UVawyhgY4zXh0TGr38ZTZZ3JHpHKB4IA831D5h3DL93lOWerOyQlbbKXqO8x9xmkuhHGtRCbwvWnbzOc4rGie5EgXoOwtuzhJ0gYuf9ns5DSxKVgQRiMetvtIKPk5yYvnBD6HjPESKK1UAaV-jucDEytsm8o0R--Kpt2WHL5xi1E6AylRWFsCOY3R4zbq8D9JfOw');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .glass-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .glow-text {
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
    color: #00ffff;
  }
  .glow-path {
    filter: drop-shadow(0 0 8px #00ffff);
  }
  .glass-panel {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}
